.AddSkillButton{
    background-color: #1a3c4e !important;
    border: 0 !important;
}
.AddSkillButton:hover{
    background-color: #0d1f29 !important;

}
.EditSkillButton{
    background-color: #1a3c4e !important;
    border: 0 !important;
}
.EditSkillButton:hover{
    background-color: #0d1f29 !important;
}
.EditSkillButtonSave{
    background-color: #1a3c4e !important;
}
.EditSkillButtonSave:hover{
    background-color: #0d1f29 !important;
}